.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}
.textoBotao{
  font-weight: bold;
}
.textMenu{
  margin-top: 6%;
  text-align: center;
  font-weight: bold;
  font-size: 240%;
  margin-bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divRigth{
  position: fixed;
  right: 92%;
}
.divLeft{
  position: fixed;
  left: 92%;
}
.formCenter{
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.botaoBlue{
  margin-top: 15%;
  height: 40px;
  width: 90%;
  --background: #007BFF;   
  font-size: 130%;
  flex-direction: row;
  --border: none;
  --border-radius: 30px;
  color: black;
  
}
.botaoBlue:active {
--background: #4ca1fc;
transform: translateY(3px);

}
.botaoOrange:active {
--background: #e4a150e1;
transform: translateY(3px);
}
.botaoOrange{
  margin-bottom: 15%;
height: 40px;
width: 90%;
--background: #f29523;
font-size: 130%;
text-align: center;
--border: none;
--border-radius: 30px;
color: black;
}
.textofooder{
  display:block;
  margin-top: 15%;
  text-align:center;
  font-size: 140%;
  color: rgb(0, 0, 0);
  width: 100%;
  position:relative;
}
.divImage{
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
  height: 9.5%;
}
.divbotao{
  display: flex;
}

.textoMenu{
  margin-top: 17%;
  text-align: center;
  color: rgb(0, 0, 0);
}
.show-map {
  opacity: 1;
}

.logininfo{
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  padding-left: 3%;
  font-size: 130%;
  text-align: left;
}
.inputcss{
  width: 90%;
  border-radius: 10px;
}
.combocss{
  background-color: #3F99FB;
}
ion-content {
  --background: none;
  background-image: url('../../../assets/img/fundo1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
ion-title{
  align-items: center;
}
body{
  height: 100%
}
