<ion-content>
    <!-- INICIO ATIVIDADE 1 -->
    <div *ngIf="tipoAtividade == 1">
        <div *ngIf="acertouRemove">
            <div class="divrodape">
                <ion-button class="botaoBlue" (click)="voltarMenuAtividades()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
                <div class="divAtividadeImageSom1Slow">
                    <div class="imageAtividadeSom" (click)="playslow()">
                        <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
            </div>
            <form class="formUp1">
                <div class="divM1">
                    <div class="palavra1">{{palavra}}</div>
                </div>
            </form>
            <form class="formCenter1">
                <div class="imageAtividade1" (click)="playnormal()">
                    <ion-img [src]=getImage()></ion-img>
                </div>

                <div class="divAtividade1">
                    <ion-row class="ion-justify-content-center">
                        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                            (cdkDropListDropped)="validacaoAtividade1($event)"
                            (cdkDropListEntered)="atividade1Touched()">
                            <div class="example-box" *ngFor="let x of palavraListEmbaralhada" cdkDrag><b>{{x}}</b></div>
                        </div>
                    </ion-row>
                </div>
            </form>
        </div>
        <div class="formparabens1">
            <div *ngIf="acertou">
                <div class="divM1">
                    <div class="palavraParabens">{{palavra}}</div>
                </div>
                <ion-img class="imageparabenizacaoatividade" [src]="getParabenizacao()" alt="">
                </ion-img>
                <ion-button class="botaoBlueAcertou" (click)="atividadeControler(nextExercicioIndex)">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </div>
    <!-- FIM ATIVIDADE 1 -->

    <!-- INICIO ATIVIDADE 4 e 5 -->
    <div *ngIf="tipoAtividade == 4 || tipoAtividade == 5">
        <div *ngIf="acertouRemove">
            <div class="divrodape" *ngIf="tipoAtividade == 4">
                <ion-button class="botaoBlue" (click)="voltarMenuAtividades()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
                <div class="divAtividadeImageSom1Slow">
                    <div class="imageAtividadeSom" (click)="playslow()">
                        <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
            </div>
            <div *ngIf="tipoAtividade == 5">
                <ion-button class="botaoBlue" (click)="voltarMenuAtividades()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
                <div class="divrodape">
                    <div class="imageAtividade1" (click)="playnormal()">
                        <ion-img [src]=getImage()></ion-img>
                    </div>
                    <div class="divAtividadeImage5">
                        <div class="imageAtividade5" (click)="playslow()">
                            <ion-img src={{playSlow}}></ion-img>
                        </div>
                    </div>
                </div>
            </div>
            <form class="formUp4">
                <div class="divM4" *ngIf="tipoAtividade == 4">
                    <div class="palavra4">{{palavra}}</div>
                    <div class="divAtividadeImage4">
                        <div class="imageAtividade4" (click)="playnormal()">
                            <ion-img [src]=getImage()></ion-img>
                        </div>
                    </div>
                </div>
                <div class="divContainer4">
                    <ion-row class="divTableRow4">

                        <div class="divTableCell4" *ngFor="let item of palavraListAtividade4"
                            [ngClass]="item.acerto ? 'atividadeCorrect4' : 'divAtividadedesc4'">
                            <div class="example-lista-certo4"
                                cdkDropList 
                                [id]="item.id"
                                [cdkDropListData]="item.nome"
                                [cdkDropListConnectedTo]="allDropList"
                                (cdkDropListDropped)="validarPalavraAtividade4e5($event)">
                                <div class="example-box-acerto4" *ngIf="item.acerto">{{item.nome}}</div>
                            </div>
                        </div>
                    </ion-row>
                </div>
            </form>
            <form class="formCenter4">
                <div class="divAtividade4">
                    <ion-row class="ion-justify-content-center">
                        <div *ngFor="let item of palavraListEmbaralhadaAtividade4">
                            <div class="example-list4" *ngIf="!item.acerto" 
                                cdkDropList 
                                [id]="item.id" 
                                [cdkDropListData]="item.nome" 
                                [cdkDropListConnectedTo]="allDropList">
                                <div class="example-box4" cdkDrag>{{item.nome}}</div>
                            </div>
                        </div>
                    </ion-row>
                </div>

            </form>
        </div>
        <div class="formparabens4">
            <div *ngIf="acertou">
                <div class="palavraParabens">{{palavra}}</div>
                <div>
                    <ion-img class="imageparabenizacaoatividade" [src]="getParabenizacao()" alt=""></ion-img>
                </div>
                <div>
                    <ion-button class="botaoBlueAcertou" (click)="atividadeControler(nextExercicioIndex)">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM ATIVIDADE 4 e 5 -->

<!-- INICIO ATIVIDADE 6 -->
    <div *ngIf="tipoAtividade == 6">
        <div *ngIf="acertouRemove">
            <div>
                <ion-button class="botaoBlue" (click)="voltarMenuAtividades()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
            </div>
            <form class="formUp4">
                <div class="divM4">
                    <div class="palavra4">{{palavra}}</div>
                    <!-- <div class="divAtividadeImage4">
                        <div class="imageAtividade4" (click)="playnormal()">
                            <ion-img [src]=getImage()></ion-img>
                        </div>
                    </div> -->
                </div>
                <div class="divContainer4">
                    <ion-row class="divTableRow4">

                        <div class="divTableCell4" *ngFor="let item of palavraListAtividade6"
                            [ngClass]="item.acerto ? 'atividadeCorrect4' : 'divAtividadedesc4'">
                            <div class="example-lista-certo4"
                                cdkDropList 
                                [id]="item.id"
                                [cdkDropListData]="item.nome"
                                [cdkDropListConnectedTo]="allDropListAtividade6"
                                (cdkDropListDropped)="validarPalavraAtividade6($event)">
                                <div class="example-box-acerto4" *ngIf="item.acerto">{{item.nome}}</div>
                            </div>
                        </div>
                    </ion-row>
                </div>
            </form>
            <form class="formCenter4">
                <div class="divAtividade4">
                    <ion-row class="ion-justify-content-center">
                        <div *ngFor="let item of palavraListEmbaralhadaAtividade6">
                            <div class="example-list4" *ngIf="!item.acerto" 
                                cdkDropList 
                                [id]="item.id" 
                                [cdkDropListData]="item.nome" 
                                [cdkDropListConnectedTo]="allDropListAtividade6">
                                <div class="example-box4" cdkDrag>{{item.nome}}</div>
                            </div>
                        </div>
                    </ion-row>
                </div>

            </form>
        </div>
        <div class="formparabens4">
            <div *ngIf="acertou">
                <div class="palavraParabens">{{palavra}}</div>
                <div>
                    <ion-img class="imageparabenizacaoatividade" [src]="getParabenizacao()" alt=""></ion-img>
                </div>
                <div class="div-botao-atividade-6">
                    <ion-button class="botaoBlueAcertouAtividade6" (click)="repeatAtividade6()">
                        <ion-icon name="repeat-outline"></ion-icon>
                    </ion-button>
                    <ion-button class="botaoBlueAcertouAtividade6" (click)="atividadeControler(nextExercicioIndex)">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM ATIVIDADE 6 -->

   <!--  <div *ngIf="tipoAtividade == 2">
        <div *ngIf="acertouRemove">
            
            <div class="divrodape">
                <ion-button class="botaoBlue" (click)="irVoltar()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
                
                <div class="divAtividadeImageSomSlowPalavra1_2">
                    <div class="imageAtividadeSom2" (click)="playslow()">
                        <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
                <div class="divAtividadeImageSomPalavra1_2">
                    <div class="imageAtividadeSom2" (click)="playnormal()">
                        <ion-img src={{playNormal}}></ion-img>
                    </div>
                </div>
                
                <div class="divAtividadeImageSomSlowPalavra2_2">
                    <div class="imageAtividadeSom2" (click)="playslow2()">
                        <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
                <div class="divAtividadeImageSomPalavra2_2">
                    <div class="imageAtividadeSom2" (click)="playnormal2()">
                        <ion-img src={{playNormal}}></ion-img>
                    </div>
                </div>
            </div>
            <form class="formUp2">
                <div class="divComImagem2">
                    <div class="divAtividadeImage2">
                        <div class="imageAtividade2" (click)="playnormal()">

                            <ion-img src={{img1}}></ion-img>
                        </div>

                        <div [ngClass]="acertouAtividade2item1 ? 'atividadeCorrect2' : 'divAtividade2img2'">
                            <div cdkDropList #selectedList1="cdkDropList" [cdkDropListData]="palavraSelected"
                                [cdkDragDisabled]="!acertouAtividade2item2" [cdkDropListConnectedTo]="[selecList]"
                                class="example-list2acerto" (cdkDropListDropped)="validarPalavraAtividade2($event)">
                                <div class="example-box2acerto" *ngFor="let item of palavraSelected" cdkDrag>{{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="espacamento"></div>
                    <div class="divAtividadeImage2">
                        <div class="imageAtividade2" (click)="playnormal2()">
                            <ion-img src={{img2}}></ion-img>
                        </div>

                        <div [ngClass]="{'divAtividade2img2': !acertouAtividade2item2}">
                            <div cdkDropList #selectedList2="cdkDropList" [cdkDropListData]="palavra2Selected"
                                [cdkDropListConnectedTo]="[selecList]" class="example-list2acerto"
                                (cdkDropListDropped)="validarPalavra2Atividade2($event)">
                                <div class="example-box2acerto" *ngFor="let item of palavra2Selected" cdkDrag>{{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="formCenter2">
                <div class="divAtividade2">
                    <ion-row class="ion-justify-content-center">
                        <div cdkDropList #selecList="cdkDropList" [cdkDropListData]="palavrasToSelec"
                            [cdkDropListConnectedTo]="[selectedList1, selectedList2]" class="example-list2">
                            <div class="example-box2" *ngFor="let item of palavrasToSelec" cdkDrag>{{item}}</div>
                        </div>
                    </ion-row>
                </div>

            </form>
        </div>
        <div class="formparabens2">
            <div *ngIf="acertou">
                <div class="divM2">
                    <ion-img class="imageparabenizacaoatividade2" src="../../../assets/img/parabens.gif" alt="">
                    </ion-img>
                    <ion-button class="botaoBlueAcertou2" (click)="irVoltar()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>



   
    <div *ngIf="tipoAtividade == 3">
        <div *ngIf="acertouRemove">
            
            <div class="divrodape">
                <ion-button class="botaoBlue" (click)="irVoltar()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
                <div class="divAtividadeImageSom3Slow">
                    <div class="imageAtividadeSom3" (click)="playslow()">
                        <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
                <div class="divAtividadeImageSom3">
                    <div class="imageAtividadeSom3" (click)="playnormal()">
                        <ion-img src={{playNormal}}></ion-img>
                    </div>
                </div>
            </div>
            <form class="formUp3">

                <div class="divComImagemAtividade3">
                    <div class="divAtividadeImage3">
                        <div class="imageAtividade3" (click)="playnormal()">
                            <ion-img src={{img1}}></ion-img>
                        </div>

                        <div [ngClass]="{'divAtividade2img3': !acertouAtividade3}">
                            <div cdkDropList #selectedList1="cdkDropList" [cdkDropListData]="palavraSelected"
                                [cdkDropListConnectedTo]="[selecList]" class="example-list3acerto"
                                (cdkDropListDropped)="validarPalavraAtividade3($event)">
                                <div class="example-box3acerto" *ngFor="let item of palavraSelected" cdkDrag>{{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="espacamento3"></div>
                </div>
            </form>
            <form class="formCenter3">
                <div class="divAtividade3">
                    <ion-row class="ion-justify-content-center">
                        <div cdkDropList #selecList="cdkDropList" [cdkDropListData]="palavrasToSelec"
                            [cdkDropListConnectedTo]="[selectedList1]" class="example-list3">
                            <div class="example-box3" *ngFor="let item of palavrasToSelec" cdkDrag>{{item}}</div>
                        </div>
                    </ion-row>
                </div>

            </form>
        </div>
        <div class="formparabens3">
            <div *ngIf="acertou">
                <div class="divM3">
                    <ion-img class="imageparabenizacaoatividade3" src="../../../assets/img/parabens.gif" alt="">
                    </ion-img>
                    <ion-button class="botaoBlueAcertou3" (click)="irVoltar()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div> -->

</ion-content>