
//Geral

ion-content {
  --background: none;
  background-image: url('../../../assets/img/fundo-atv.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
ion-title{
  align-items: center;
}
ion-content{
  height: 100%;
}

.example-list {
  width: 100%;
  max-width: 90%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.example-box {
  padding: 3% 3%;
  border: solid 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  flex-direction: row;
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  flex-grow: 1;
  border-radius: 20px;
  text-align: center;
  
}

@keyframes  random {
    50% { background-color: rgba(196, 196, 196, 0.527); } 
    65% { background-color: rgba(233, 233, 231, 0.658); } 
    90% { background-color: rgba(240, 239, 239, 0.637); } 
}


.cdk-drag-preview {
  background-color: rgba(84, 252, 112, 0.678);
  border: solid 5px rgba(1, 231, 51, 0.534);
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  animation: random 2.2s infinite;
}

.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}
.botaoBlue{
  --border: none;
  --border-radius: 30px;
  color: black;
  width: 8%;
  font-size: 10px;
}
.botaoBlue:active {
--background: #4ca1fc;
transform: translateY(3px);

}


// Atividade 1 SCSS

.formUp1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  font-size: 200%;
}

.divM1{
  text-align: center;
  width: 100%;
}

.palavra1{
  font-size: 180%;
}

.formCenter1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 200%;
}

.imageAtividade1{
  background-color: white;
  width: 150px;
  height: 150px;
  border: solid 5px rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divAtividade1{
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.formparabens1{
  width: 100%; 
  height: 100%; 
  overflow: hidden;  
  text-align: center;
  vertical-align: middle;
}
.imageparabenizacaoatividade1{
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}
.botaoBlueAcertou1{
  padding-top:35%;
  height: 15%;
  width: 60%;
  --background: #007BFF;   
  font-size: 130%;
  --border: none;
  --border-radius: 30px;
  color: black;
}
.botaoBlueAcertou1:active {
--background: #4ca1fc;
transform: translateY(3px);
}

//Atividade 2 SCSS

.example-list2 {
  width: 90%;
  min-height: 30px;
  display:contents;
  flex-direction: row;
  overflow: hidden;
  
}

.example-box2 {
  width: 22%;
  padding: 1.5% 1.5%;
  border: solid 2px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
}

.example-box2.cdk-drag-preview {
  background-color: rgba(84, 252, 112, 0.678);
  border: solid 5px rgba(1, 231, 51, 0.534);
}

.example-list2acerto {
  text-align: center;
  width: 98%;
  height: 75px;
  display:table;
}

.example-box2acerto {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 26px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(69, 250, 52, 0.904);
}

.formUp2{
  display: flex;
  justify-content: center;
  height: 70%;
}

.divComImagem2{
  width: 90%;
  height: 90%;
  display: flex;
  text-align: center;
}
.divAtividadeImage2{
  text-align: center;
  display:table-column;
  height: 80%;
  width: 60%;
} 

.imageAtividade2{
  background-color: white;
  width: 150px;
  height: 150px;
  border: solid 5px rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.atividadeCorrect2{
  pointer-events: none;
}

.divAtividade2img2{
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-style:dotted;
  border: dotted 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  height: 80px;
  width: 70%;
  border-radius: 30px;
  justify-content: center;
}

.formCenter2{
  height: 30%;
}

.divAtividade2{
  padding: 10px;
  text-align: center;
  width: 100%;
}
.formparabens2{
  width: 100%; 
  height: 100%; 
  overflow: hidden;  
  text-align: center;
  vertical-align: middle;
}

.divM2{
  text-align: center;
  width: 100%;
}

.imageparabenizacaoatividade2{
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}

.botaoBlueAcertou2{
  padding-top:35%;
  height: 15%;
  width: 60%;
  --background: #007BFF;   
  font-size: 130%;
  --border: none;
  --border-radius: 30px;
  color: black;
}
.botaoBlueAcertou2:active {
--background: #4ca1fc;
transform: translateY(3px);
}


// Atividade 3 Scss

.example-list3 {
  width: 90%;
  min-height: 30px;
  display:contents;
  flex-direction: row;
  overflow: hidden;
}

.example-box3 {
  width: 20%;
  padding: 1.5% 1.5%;
  border: solid 2px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
}

.example-box3.cdk-drag-preview {
  background-color: rgba(84, 252, 112, 0.678);
  border: solid 5px rgba(1, 231, 51, 0.534);
}

.example-list3acerto {
  text-align: center;
  width: 98%;
  height: 75px;
  display:table;
}

.example-box3acerto {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 26px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(69, 250, 52, 0.904);
}

.formUp3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70%;
  align-items: center;
}

.divComImagemAtividade3{
  width: 90%;
  height: 90%;
  text-align: center;
  display:inline-block;
  align-items: center;
  justify-content: center;
}

.divAtividadeImage3{
  position:relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);
  text-align: center;
  display:table;
  height: 80%;
  width: 60%;
} 

.imageAtividade3{
  background-color: white;
  width: 160px;
  height: 160px;
  border: solid 5px rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.divAtividade2img3{
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-style:dotted;
  border: dotted 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  height: 80px;
  width: 70%;
  border-radius: 30px;
  justify-content: center;
}

.espacamento3{
  width: 20%;
}
.formCenter3{
  height: 30%;
}

.divAtividade3{
  padding: 10px;
  text-align: center;
  width: 100%;
}

.formparabens3{
  width: 100%; 
  height: 100%; 
  overflow: hidden;  
  text-align: center;
  vertical-align: middle;
}

.divM3{
  text-align: center;
  width: 100%;
}

.imageparabenizacaoatividade3{
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}

.botaoBlueAcertou3{
  padding-top:35%;
  height: 15%;
  width: 60%;
  --background: #007BFF;   
  font-size: 130%;
  --border: none;
  --border-radius: 30px;
  color: black;
}

.botaoBlueAcertou3:active {
  --background: #4ca1fc;
  transform: translateY(3px);
}

// Atividade 4

.divAtividadedesc4{
  display: flex;
  background-color: white;
  border-style:dotted;
  border: dotted 3px rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  border-radius: 30px;
}
.atividadeCorrect4{
  pointer-events: none;
}
.formUp4{
  padding-top: 1%;
  font-size: 300%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divM4{
  text-align: center;
  width: 100%;
}

.palavra4{
  font-size: 180%;
}

.divContainer4{
  padding: 4%;
  width: 100%;
  height: 90%;
  display: table;
}

.divTableRow4{
  display: table-row;
} 
.divTableCell4 {
  width: 100px;
  display: table-cell;
}
.formCenter4{
  height: 30%;
}

.divAtividade4{
  text-align: center;
  width: 100%;
}

.example-box4 {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.example-box4.cdk-drag-preview {
  background-color: rgba(84, 252, 112, 0.678);
  border: solid 5px rgba(1, 231, 51, 0.534);
}

.example-lista-certo4 {
  text-align: center;
  width: 98%;
  height: 75px;
  display:table;
}

.example-box-acerto4 {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 26px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(69, 250, 52, 0.904);
}

.example-list4 {
  width: 100%;
  min-width: 100px;
  min-height: 60px;
  display:table;
  
}

.formparabens4{
  width: 100%; 
  height: 100%; 
  overflow: hidden;  
  text-align: center;
  vertical-align: middle;
}

.imageparabenizacaoatividade4{
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}

.botaoBlueAcertou4{
  padding-top:25%;
  height: 15%;
  width: 60%;
  --background: #007BFF;   
  font-size: 130%;
  --border: none;
  --border-radius: 30px;
  color: black;
}

.botaoBlueAcertou4:active {
  --background: #4ca1fc;
  transform: translateY(3px);
}

// Atividade 5 SCSS

.atividadeCorrect5{
  pointer-events: none;
}

.divAtividade5desc{
  display: flex;
  background-color: white;
  border-style:dotted;
  border: dotted 3px rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  border-radius: 30px;
}
.example-list5 {
  width: 100%;
  min-width: 100px;
  min-height: 60px;
  display:table;  
}

.example-box5 {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.example-box5.cdk-drag-preview {
  background-color: rgba(84, 252, 112, 0.678);
  border: solid 5px rgba(1, 231, 51, 0.534);
}

.formCenter5{
  height: 30%;
}

.botaovoltar5{
  display: flex;
  flex-direction: column;
  font-size: 200%;
  text-align: center;
}

.formUp5{
  display: flex;
  justify-content: center;
  height: 70%;
}

.divComImagem5{
  width: 90%;
  height: 90%;
  display: flex;
  text-align: center;
}

.divAtividadeImage5{
  text-align: center;
  display:table-column;
  height: 80%;
  width: 60%;
} 

.imageAtividade5{
  background-color: white;
  width: 120px;
  height: 120px;
  border: solid 5px rgb(0, 0, 0);
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgMargintop5{
  margin-top: 8px;
}

.espacamento5{
  width: 20%;
}

.divContainer5{
  padding: 2%;
  width: 100%;
  height: 90%;
  display: table; 
}

.divTableRow5{
  display: table-row;
} 
.divTableCell5 {
  width: 100px;
  display: table-cell;
}

.example-list-acerto5 {
  text-align: center;
  width: 98%;
  height: 75px;
  display:table;
}

.example-box-acerto5 {
  width: 100%;
  border: solid 3px rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.822);
  box-sizing: border-box;
  background-color: white;
  cursor: move;
  font-size: 22px;
  border-radius: 26px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(69, 250, 52, 0.904);
}

.divAtividade5{
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.formparabens5{
  width: 100%; 
  height: 100%; 
  overflow: hidden;  
  text-align: center;
  vertical-align: middle;
}

.divM5{
  text-align: center;
  width: 100%;
}

.palavraParabens5{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%; 
  font-size: 300%;
}

.imageparabenizacaoatividade5{
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}

.botaoBlueAcertou5{
  padding-top:25%;
  height: 15%;
  width: 60%;
  --background: #007BFF;   
  font-size: 130%;
  --border: none;
  --border-radius: 30px;
  color: black;
}

.botaoBlueAcertou5:active {
  --background: #4ca1fc;
  transform: translateY(3px);
}