
<ion-content>
    <!-- Atividade Palavra Embaralhada -->
    <div *ngIf="tipoAtividade == 1">
        <div *ngIf="acertouRemove">
        <ion-button class="botaoBlue" (click)="irVoltar()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <form class="formUp1">
            <div class="divM1">
                <div class="palavra1">{{palavra}}</div>
            </div>
        </form>
        <form class="formCenter1">
            <div class="imageAtividade1">
                <ion-img src={{img2}}></ion-img>
            </div>

            <div class="divAtividade1">
                <ion-row class="ion-justify-content-center">
                    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                        (cdkDropListDropped)="validacaoAtividade1($event)" (cdkDropListEntered)="atividade1Touched()" >
                        <div class="example-box" *ngFor="let x of palavraList"   cdkDrag><b>{{x}}</b></div>
                    </div>
                </ion-row>
            </div>
        </form>
        </div>
        <div class="formparabens1">
            <div *ngIf="acertou">
                <div class="divM1">
                <ion-img class="imageparabenizacaoatividade1" src="../../../assets/img/parabens.gif" alt=""></ion-img>
                    <ion-button class="botaoBlueAcertou1" (click)="irVoltar()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
    <!-- Atividade Duas Imagens -->

    <div *ngIf="tipoAtividade == 2">
        <div *ngIf="acertouRemove"><!-- Parabenização -->
            <ion-button class="botaoBlue" (click)="irVoltar()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        <form class="formUp2">
            <div class="divComImagem2">
                <div class="divAtividadeImage2">
                    <div class="imageAtividade2">
                        
                        <ion-img src={{img1}}></ion-img>
                    </div>

                    <div [ngClass]="acertouAtividade2item1 ? 'atividadeCorrect2' : 'divAtividade2img2'">
                        <div cdkDropList #selectedList1="cdkDropList" [cdkDropListData]="palavraSelected" [cdkDragDisabled]="!acertouAtividade2item2" [cdkDropListConnectedTo]="[selecList]"
                            class="example-list2acerto" (cdkDropListDropped)="validarPalavraAtividade2($event)" >
                            <div class="example-box2acerto" *ngFor="let item of palavraSelected" cdkDrag>{{item}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="espacamento"></div>
                <div class="divAtividadeImage2">
                    <div class="imageAtividade2">
                        <ion-img src={{img2}}></ion-img>
                    </div>

                    <div [ngClass]="{'divAtividade2img2': !acertouAtividade2item2}">
                        <div cdkDropList #selectedList2="cdkDropList" [cdkDropListData]="palavra2Selected" [cdkDropListConnectedTo]="[selecList]"
                            class="example-list2acerto" (cdkDropListDropped)="validarPalavra2Atividade2($event)" >
                            <div class="example-box2acerto" *ngFor="let item of palavra2Selected" cdkDrag>{{item}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="formCenter2">
            <div class="divAtividade2">
                <ion-row class="ion-justify-content-center">
                <div cdkDropList #selecList="cdkDropList" [cdkDropListData]="palavrasToSelec" [cdkDropListConnectedTo]="[selectedList1, selectedList2]"
                    class="example-list2" >
                    <div class="example-box2" *ngFor="let item of palavrasToSelec" cdkDrag>{{item}}</div>
                </div>
                </ion-row>
            </div>
            
        </form>
        </div>
        <div class="formparabens2">
            <div *ngIf="acertou">
                <div class="divM2">
                <ion-img class="imageparabenizacaoatividade2" src="../../../assets/img/parabens.gif" alt=""></ion-img>
                    <ion-button class="botaoBlueAcertou2" (click)="irVoltar()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>



    <!-- Atividade com uma Imagem -->
    <div *ngIf="tipoAtividade == 3">
        <div *ngIf="acertouRemove"><!-- Parabenização -->
            <ion-button class="botaoBlue" (click)="irVoltar()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        <form class="formUp3">
        
            <div class="divComImagemAtividade3">
                <div class="divAtividadeImage3">
                    <div class="imageAtividade3">
                        <ion-img src={{img1}}></ion-img>
                    </div>

                    <div [ngClass]="{'divAtividade2img3': !acertouAtividade3}">
                        <div cdkDropList #selectedList1="cdkDropList" [cdkDropListData]="palavraSelected" [cdkDropListConnectedTo]="[selecList]"
                            class="example-list3acerto" (cdkDropListDropped)="validarPalavraAtividade3($event)" >
                            <div class="example-box3acerto" *ngFor="let item of palavraSelected" cdkDrag>{{item}}</div>
                        </div>
                    </div>
                </div>
                <div class="espacamento3"></div>
            </div>
        </form>
        <form class="formCenter3">
            <div class="divAtividade3">
                <ion-row class="ion-justify-content-center">
                <div cdkDropList #selecList="cdkDropList" [cdkDropListData]="palavrasToSelec" [cdkDropListConnectedTo]="[selectedList1]"
                    class="example-list3" >
                    <div class="example-box3" *ngFor="let item of palavrasToSelec" cdkDrag>{{item}}</div>
                </div>
                </ion-row>
            </div>
            
        </form>
        </div>
        <div class="formparabens3">
            <div *ngIf="acertou">
                <div class="divM3">
                <ion-img class="imageparabenizacaoatividade3" src="../../../assets/img/parabens.gif" alt=""></ion-img>
                    <ion-button class="botaoBlueAcertou3" (click)="irVoltar()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

<div *ngIf="tipoAtividade == 4">
    <div *ngIf="acertouRemove">
    <ion-button class="botaoBlue" (click)="irVoltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <form class="formUp4">
        <div class="divM4">
            <div class="palavra4">{{palavra}}</div>
        </div>
        
        <div class="divContainer4">
            <ion-row class="divTableRow4">
                
                <div class="divTableCell4" *ngFor="let item of palavraSelected2List" [ngClass]="item.acerto ? 'atividadeCorrect4' : 'divAtividadedesc4'">
                    <div cdkDropList [id]="item.nome" [cdkDropListData]="item.nome" [cdkDropListConnectedTo]="[item.nome]"
                        class="example-lista-certo4" (cdkDropListDropped)="validarPalavraAtividade5(item)" >
                        <div class="example-box-acerto4" *ngIf="item.acerto">{{item.nome}}</div> 
                    </div>
                </div>
            </ion-row>
        </div>
    </form>
    <form class="formCenter4">
        <div class="divAtividade4">
            <ion-row class="ion-justify-content-center" >
                <div *ngFor="let item of palavraSelected2Shuffle">
                    <div cdkDropList *ngIf="!item.acerto" [id]="item.nome" [cdkDropListData]="item.nome" [cdkDropListConnectedTo]="[item.nome]"
                    class="example-list4">
                        <div class="example-box4" cdkDrag>{{item.nome}}</div>
                    </div>
                </div>
            </ion-row>
        </div>
        
    </form>
    </div>
    <div class="formparabens4">
        <div *ngIf="acertou">
            <div class="divM">
                <div class="formUp5">{{palavra}}</div>
            </div>
            <ion-img class="imageparabenizacaoatividade4" src="../../../assets/img/parabens.gif" alt=""></ion-img>
            <ion-button class="botaoBlueAcertou4" (click)="irVoltar()">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</div>

<div *ngIf="tipoAtividade == 5"><!-- Atividade de Som-->
    <div *ngIf="acertouRemove">
        
    <form class="botaovoltar5">
        <ion-button class="botaoBlue" (click)="irVoltar()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <div class="formUp2">
            <div class="divComImagem5">
                <div class="divAtividadeImage5">
                    <div class="imageAtividade5" (click)="playnormal()">
                            <ion-img class="imgMargintop5" src={{playNormal}}></ion-img>
                    </div>
                </div>
                <div class="espacamento5"></div>
                <div class="divAtividadeImage5">
                    <div class="imageAtividade5" (click)="playslow()">
                            <ion-img src={{playSlow}}></ion-img>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="divContainer5">
            <ion-row class="divTableRow5">
                
                <div class="divTableCell5" *ngFor="let item of palavraSelected2List" [ngClass]="item.acerto ? 'atividadeCorrect5' : 'divAtividade5desc'">
                    <div cdkDropList [id]="item.nome" [cdkDropListData]="item.nome" [cdkDropListConnectedTo]="[item.nome]"
                        class="example-list-acerto5" (cdkDropListDropped)="validarPalavraAtividade5(item)" >
                        <div class="example-box-acerto5" *ngIf="item.acerto">{{item.nome}}</div> 
                    </div>
                </div>
            </ion-row>
        </div>
    </form>
    <form class="formCenter5">
        <div class="divAtividade5">
            <ion-row class="ion-justify-content-center" >
                <div *ngFor="let item of palavraSelected2Shuffle">
                    <div cdkDropList *ngIf="!item.acerto" [id]="item.nome" [cdkDropListData]="item.nome" [cdkDropListConnectedTo]="[item.nome]"
                    class="example-list5">
                        <div class="example-box5" cdkDrag>{{item.nome}}</div>
                    </div>
                </div>
            </ion-row>
        </div>
        
    </form>
    </div>
    <div class="formparabens5">
        <div *ngIf="acertou">
            <div class="divM5">
                <div class="palavraParabens5">{{palavra}}</div>
            </div>
            <ion-img class="imageparabenizacaoatividade5" src="../../../assets/img/parabens.gif" alt=""></ion-img>
                <ion-button class="botaoBlueAcertou5" (click)="irVoltar()">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
        </div>
    </div>
</div>

</ion-content>
