<body>
	<ion-content>
		<div class="textoMenu">
			<ion-text class="logininfo">Professor(a): {{user ? user.nome : ''}}</ion-text>
			<ion-text class="logininfo">Total de Alunos: {{user ? user.qtdAlunos : ''}}</ion-text>
			<ion-text class="textMenu">Aluno(a) {{aluno ? aluno.nome : ''}}</ion-text>
		</div>

		<div class="formCenter">
			<div class="divQuestionario">
				<div class="divTitulo">
					<ion-text class="textoTitulo">Preferências:</ion-text>
				</div>
				<form [formGroup]="observacaoForm">~
					<div class="divtextArea">
						
						<ion-item class="textArea">
							<ion-textarea formControlName="observacao" placeholder="Lembrete referente ao aluno..."></ion-textarea>
						</ion-item>
					</div>
				</form>

				<div class="divTitulo">
					<ion-text class="textoTitulo">Tipo de atividade recomendadas:</ion-text>
				</div>

				<div class="combo">
					<ion-list class="list-itens">
						<ion-item allow-empty-selection="true" *ngFor="let tipo of tiposExercicios">
							<ion-item style="width: 100%;">
								<ion-text>{{ tipo.value }} </ion-text>
								<ion-checkbox slot="start" [value]="tipo.key" [checked]="tipo.check" (ionChange)="tipoExercicioSelect($event)"></ion-checkbox>
							</ion-item>
						</ion-item>
					</ion-list>
				</div>

				<div class="divTitulo">
					<ion-text class="textoTitulo">Preferência de atividades recomendadas</ion-text>
				</div>

				<div class="combo">
					<ion-list class="list-itens">
						<ion-item allow-empty-selection="true" *ngFor="let tipo of tiposQuestionario">
							<ion-item style="width: 100%;">
								<ion-text>{{ tipo.value }} </ion-text>
								<ion-checkbox slot="start" [value]="tipo.key" [checked]="tipo.check" (ionChange)="tipoQuestionarioSelect($event)"></ion-checkbox>
							</ion-item>
						</ion-item>
					</ion-list>
				</div>
			</div>

			<ion-button id="botao05" class="botaoBlue" (click)="saveQuestionario()">
				<div class="divbotao">
					<div>
						<ion-text class="textoBotao">salvar</ion-text>
					</div>
					<div class="divLeft">
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</div>
				</div>
			</ion-button>
			<ion-button id="botao05" class="botaoOrange" (click)="irVoltar()">
				<div class="divbotao">
					<div class="divRigth">
						<ion-icon name="arrow-back-outline"></ion-icon>
					</div>
					<div>
						<ion-text class="textoBotao">Voltar</ion-text>
					</div>
				</div>
			</ion-button>
		</div>
		<div class="textofooder">
			<div class="divImage">
				<img src="../../../assets/img/logo.png">
			</div>
			<ion-text class="versao">{{versao}}</ion-text>
		</div>
	</ion-content>
</body>