<body>
	<ion-content>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-button (click)="cancel()">Cancelar</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button (click)="confirm()" [strong]="true">Salvar</ion-button>
			</ion-buttons>
		</ion-toolbar>
		<div class="textoMenu">
			<ion-text class="textMenu">Criar Atividades</ion-text>
		</div>
		<form class="formCenter" [formGroup]="form">
			<div style="width: 100%;" formArrayName="exercicios">
				<div class="tableCenter" *ngFor="let exercicio of getExerciciosArray.controls; let i = index" [formGroupName]="i" >
					<div class="divUpload" >
						<ion-grid>
							<ion-row>
								<ion-col size="11">
									<ion-text class="negrito" style="margin-bottom: 0;">Tipo do exercício</ion-text>
								</ion-col>
								<ion-col size="1">
									<ion-icon style="font-size: 25px;" name="trash" (click)="deleteExercicio(i)"></ion-icon>
								</ion-col>
							</ion-row>
						</ion-grid>
						<ion-list class="listinput">
							<ion-item >
								<ion-select class="combocss" interface="popover" placeholder="Tipos Exercicícios" formControlName="tipoExercicio">
									<ion-select-option *ngFor="let type of tiposExerciciosImagens | keyvalue" [value]="type.key">{{
										type.value }}
									</ion-select-option>
								</ion-select>
							</ion-item>
						</ion-list>
						<ion-text class="negrito">Imagem Da Palavra</ion-text>
						<ion-item class="fundoAzul" style="border-radius: 35px;">
							<input type="file" id="file-upload" accept="image/jpg, image/jpeg, image/png, image/gif" style="display: none;" (change)=setImage($event)/>
							<ion-icon name="cloud-upload" (click)=openFileDialog() style="font-size: 25px;"></ion-icon>
							<ion-text style="margin-left: 5%;">{{nomeImagem ? 'imagem: ' + nomeImagem : 'Anexar'}}</ion-text>
						</ion-item>
						<ion-text class="negrito">Palavra, sílaba ou letra do Exercício</ion-text>
						<ion-input class="inputcss" type="text" placeholder="Palavra Base:" formControlName="palavra"></ion-input>
						<ion-text class="negrito">Parabenização final do Exercício</ion-text>
						<ion-item class="fundoAzul" style="border-radius: 35px;">
							<input type="file" id="file-upload-parabenizacao" accept="image/jpg, image/jpeg, image/png, image/gif" style="display: none;" (change)=setParabenizacao($event)/>
							<ion-icon name="cloud-upload" (click)=openFileDialogParabenizacao() style="font-size: 25px;"></ion-icon>
							<ion-text style="margin-left: 5%;">{{nomeParabenizacao ? 'imagem: ' + nomeParabenizacao : 'Anexar'}}</ion-text>
						</ion-item>
					</div>
				</div>		
			</div>
		</form>
		<ion-button id="botao02" class="botaoOrange" (click)="addForm()" [disabled]="totalExercicios >= 3">
			<div class="divbotao">
			<ion-icon style="font-size: 45px;" name="add-circle-outline" ></ion-icon>
		  </div>
		  </ion-button>
	</ion-content>
</body>